---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-16 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg 
				aria-hidden="true"
				class="h-10 w-10 sm:absolute sm:start-[-5.5rem] sm:me-0 sm:h-20 sm:w-20"
				fill="none"
				focusable="false"
				version="1.1" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			>
				<g fill="none" stroke="hsl(105, 69%, 30%)" stroke-dasharray="0 12.5" stroke-linecap="round" stroke-width="14.5">
					<line opacity="0.69" transform="rotate(0, 400, 400)" x1="408.5" x2="391.5" y1="400" y2="400"></line>
					<line opacity="0.95" transform="rotate(4, 400, 400)" x1="501" x2="299" y1="400" y2="400"></line>
					<line opacity="0.57" transform="rotate(8, 400, 400)" x1="475.5" x2="324.5" y1="400" y2="400"></line>
					<line opacity="0.41" transform="rotate(12, 400, 400)" x1="635.5" x2="164.5" y1="400" y2="400"></line>
					<line opacity="0.66" transform="rotate(16, 400, 400)" x1="576.5" x2="223.5" y1="400" y2="400"></line>
					<line opacity="0.62" transform="rotate(20, 400, 400)" x1="727" x2="73" y1="400" y2="400"></line>
					<line opacity="0.33" transform="rotate(24, 400, 400)" x1="378.5" x2="421.5" y1="400" y2="400"></line>
					<line opacity="0.41" transform="rotate(28, 400, 400)" x1="628" x2="172" y1="400" y2="400"></line>
					<line opacity="0.87" transform="rotate(32, 400, 400)" x1="536" x2="264" y1="400" y2="400"></line>
					<line opacity="0.94" transform="rotate(36, 400, 400)" x1="432.5" x2="367.5" y1="400" y2="400"></line>
					<line opacity="0.33" transform="rotate(40, 400, 400)" x1="428.5" x2="371.5" y1="400" y2="400"></line>
					<line opacity="0.46" transform="rotate(44, 400, 400)" x1="416.5" x2="383.5" y1="400" y2="400"></line>
					<line opacity="0.26" transform="rotate(48, 400, 400)" x1="611" x2="189" y1="400" y2="400"></line>
					<line opacity="0.58" transform="rotate(52, 400, 400)" x1="724" x2="76" y1="400" y2="400"></line>
					<line opacity="0.26" transform="rotate(56, 400, 400)" x1="678.5" x2="121.5" y1="400" y2="400"></line>
					<line opacity="0.28" transform="rotate(60, 400, 400)" x1="447" x2="353" y1="400" y2="400"></line>
					<line opacity="0.37" transform="rotate(64, 400, 400)" x1="472" x2="328" y1="400" y2="400"></line>
					<line opacity="0.63" transform="rotate(68, 400, 400)" x1="477" x2="323" y1="400" y2="400"></line>
					<line opacity="0.45" transform="rotate(72, 400, 400)" x1="620" x2="180" y1="400" y2="400"></line><line opacity="0.19" transform="rotate(76, 400, 400)" x1="440.5" x2="359.5" y1="400" y2="400"></line><line opacity="0.71" transform="rotate(80, 400, 400)" x1="595" x2="205" y1="400" y2="400"></line><line opacity="0.29" transform="rotate(84, 400, 400)" x1="539.5" x2="260.5" y1="400" y2="400"></line><line opacity="0.85" transform="rotate(88, 400, 400)" x1="576" x2="224" y1="400" y2="400"></line><line opacity="0.08" transform="rotate(92, 400, 400)" x1="556" x2="244" y1="400" y2="400"></line><line opacity="0.83" transform="rotate(96, 400, 400)" x1="559" x2="241" y1="400" y2="400"></line><line opacity="0.94" transform="rotate(100, 400, 400)" x1="585.5" x2="214.5" y1="400" y2="400"></line><line opacity="0.70" transform="rotate(104, 400, 400)" x1="366" x2="434" y1="400" y2="400"></line><line opacity="0.74" transform="rotate(108, 400, 400)" x1="585.5" x2="214.5" y1="400" y2="400"></line><line opacity="0.85" transform="rotate(112, 400, 400)" x1="478" x2="322" y1="400" y2="400"></line><line opacity="0.10" transform="rotate(116, 400, 400)" x1="511" x2="289" y1="400" y2="400"></line><line opacity="0.82" transform="rotate(120, 400, 400)" x1="430" x2="370" y1="400" y2="400"></line><line opacity="0.54" transform="rotate(124, 400, 400)" x1="370" x2="430" y1="400" y2="400"></line><line opacity="0.44" transform="rotate(128, 400, 400)" x1="538" x2="262" y1="400" y2="400"></line><line opacity="0.81" transform="rotate(132, 400, 400)" x1="721" x2="79" y1="400" y2="400"></line><line opacity="0.14" transform="rotate(136, 400, 400)" x1="519.5" x2="280.5" y1="400" y2="400"></line><line opacity="0.76" transform="rotate(140, 400, 400)" x1="667.5" x2="132.5" y1="400" y2="400"></line><line opacity="0.54" transform="rotate(144, 400, 400)" x1="494.5" x2="305.5" y1="400" y2="400"></line><line opacity="0.13" transform="rotate(148, 400, 400)" x1="606.5" x2="193.5" y1="400" y2="400"></line><line opacity="0.74" transform="rotate(152, 400, 400)" x1="373" x2="427" y1="400" y2="400"></line><line opacity="0.20" transform="rotate(156, 400, 400)" x1="679.5" x2="120.5" y1="400" y2="400"></line><line opacity="0.31" transform="rotate(160, 400, 400)" x1="492.5" x2="307.5" y1="400" y2="400"></line><line opacity="0.28" transform="rotate(164, 400, 400)" x1="538.5" x2="261.5" y1="400" y2="400"></line><line opacity="0.47" transform="rotate(168, 400, 400)" x1="473.5" x2="326.5" y1="400" y2="400"></line><line opacity="0.94" transform="rotate(172, 400, 400)" x1="644" x2="156" y1="400" y2="400"></line><line opacity="0.32" transform="rotate(176, 400, 400)" x1="378" x2="422" y1="400" y2="400"></line><line opacity="0.73" transform="rotate(180, 400, 400)" x1="511" x2="289" y1="400" y2="400"></line><line opacity="0.13" transform="rotate(184, 400, 400)" x1="592.5" x2="207.5" y1="400" y2="400"></line><line opacity="0.46" transform="rotate(188, 400, 400)" x1="382.5" x2="417.5" y1="400" y2="400"></line><line opacity="0.10" transform="rotate(192, 400, 400)" x1="464.5" x2="335.5" y1="400" y2="400"></line><line opacity="0.45" transform="rotate(196, 400, 400)" x1="403" x2="397" y1="400" y2="400"></line><line opacity="0.50" transform="rotate(200, 400, 400)" x1="363.5" x2="436.5" y1="400" y2="400"></line><line opacity="0.09" transform="rotate(204, 400, 400)" x1="468" x2="332" y1="400" y2="400"></line><line opacity="0.98" transform="rotate(208, 400, 400)" x1="547.5" x2="252.5" y1="400" y2="400"></line><line opacity="0.27" transform="rotate(212, 400, 400)" x1="705" x2="95" y1="400" y2="400"></line><line opacity="0.86" transform="rotate(216, 400, 400)" x1="643.5" x2="156.5" y1="400" y2="400"></line><line opacity="0.74" transform="rotate(220, 400, 400)" x1="410" x2="390" y1="400" y2="400"></line><line opacity="0.07" transform="rotate(224, 400, 400)" x1="549" x2="251" y1="400" y2="400"></line><line opacity="0.68" transform="rotate(228, 400, 400)" x1="540" x2="260" y1="400" y2="400"></line><line opacity="0.15" transform="rotate(232, 400, 400)" x1="504" x2="296" y1="400" y2="400"></line><line opacity="0.08" transform="rotate(236, 400, 400)" x1="633" x2="167" y1="400" y2="400"></line><line opacity="0.19" transform="rotate(240, 400, 400)" x1="699.5" x2="100.5" y1="400" y2="400"></line><line opacity="0.71" transform="rotate(244, 400, 400)" x1="417" x2="383" y1="400" y2="400"></line><line opacity="0.27" transform="rotate(248, 400, 400)" x1="415" x2="385" y1="400" y2="400"></line><line opacity="0.22" transform="rotate(252, 400, 400)" x1="427" x2="373" y1="400" y2="400"></line><line opacity="0.20" transform="rotate(256, 400, 400)" x1="715" x2="85" y1="400" y2="400"></line><line opacity="0.70" transform="rotate(260, 400, 400)" x1="365" x2="435" y1="400" y2="400"></line><line opacity="0.98" transform="rotate(264, 400, 400)" x1="564.5" x2="235.5" y1="400" y2="400"></line><line opacity="0.98" transform="rotate(268, 400, 400)" x1="461.5" x2="338.5" y1="400" y2="400"></line><line opacity="0.50" transform="rotate(272, 400, 400)" x1="721" x2="79" y1="400" y2="400"></line><line opacity="0.45" transform="rotate(276, 400, 400)" x1="595.5" x2="204.5" y1="400" y2="400"></line><line opacity="0.13" transform="rotate(280, 400, 400)" x1="474" x2="326" y1="400" y2="400"></line><line opacity="0.10" transform="rotate(284, 400, 400)" x1="719" x2="81" y1="400" y2="400"></line><line opacity="0.77" transform="rotate(288, 400, 400)" x1="438" x2="362" y1="400" y2="400"></line><line opacity="0.44" transform="rotate(292, 400, 400)" x1="429.5" x2="370.5" y1="400" y2="400"></line><line opacity="0.82" transform="rotate(296, 400, 400)" x1="426.5" x2="373.5" y1="400" y2="400"></line><line opacity="0.22" transform="rotate(300, 400, 400)" x1="718" x2="82" y1="400" y2="400"></line><line opacity="0.67" transform="rotate(304, 400, 400)" x1="588.5" x2="211.5" y1="400" y2="400"></line><line opacity="0.17" transform="rotate(308, 400, 400)" x1="616" x2="184" y1="400" y2="400"></line><line opacity="0.11" transform="rotate(312, 400, 400)" x1="617.5" x2="182.5" y1="400" y2="400"></line><line opacity="0.61" transform="rotate(316, 400, 400)" x1="614" x2="186" y1="400" y2="400"></line><line opacity="0.55" transform="rotate(320, 400, 400)" x1="668" x2="132" y1="400" y2="400"></line><line opacity="0.26" transform="rotate(324, 400, 400)" x1="399" x2="401" y1="400" y2="400"></line><line opacity="0.09" transform="rotate(328, 400, 400)" x1="417" x2="383" y1="400" y2="400"></line><line opacity="0.88" transform="rotate(332, 400, 400)" x1="437" x2="363" y1="400" y2="400"></line><line opacity="0.62" transform="rotate(336, 400, 400)" x1="559" x2="241" y1="400" y2="400"></line><line opacity="0.09" transform="rotate(340, 400, 400)" x1="700" x2="100" y1="400" y2="400"></line><line opacity="0.13" transform="rotate(344, 400, 400)" x1="681.5" x2="118.5" y1="400" y2="400"></line><line opacity="0.28" transform="rotate(348, 400, 400)" x1="423.5" x2="376.5" y1="400" y2="400"></line>
				</g>
			</svg>
			<!-- <svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>
				<path
					d="M181.334 93.333v-40L226.667 80v40l-45.333-26.667ZM136.001 53.333 90.667 26.667v426.666L136.001 480V53.333Z"
					fill="#B04304"></path>
				<path
					d="m136.001 119.944 45.333-26.667 45.333 26.667-45.333 26.667-45.333-26.667ZM90.667 26.667 136.001 0l45.333 26.667-45.333 26.666-45.334-26.666ZM181.334 53.277l45.333-26.666L272 53.277l-45.333 26.667-45.333-26.667ZM0 213.277l45.333-26.667 45.334 26.667-45.334 26.667L0 213.277ZM136 239.944l-45.333-26.667v53.333L136 239.944Z"
					fill="#FF5D01"></path>
				<path
					d="m136 53.333 45.333-26.666v120L226.667 120V80L272 53.333V160l-90.667 53.333v240L136 480V306.667L45.334 360V240l45.333-26.667v53.334L136 240V53.333Z"
					fill="#53C68C"></path>
				<path d="M45.334 240 0 213.334v120L45.334 360V240Z" fill="#B04304"></path>
			</svg> -->
			<span class="text-xl font-bold sm:text-2xl">tflora</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-4 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
