---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "import antigravity",
		href: "https://xkcd.com/353/",
		title: "Python",
	},
	{
		desc: "just enough so I can build less-terrible versions of what I wanted with JavaScript",
		href: "https://www.typescriptlang.org/",
		title: "TypeScript",
	},
	{
		desc: "the hardest part of deep learning is indexing, the second hardest is relying on empirical results, maybe the third is coming up with model architectures?",
		href: "https://pytorch.org/",
		title: "PyTorch",
	},
	{
		desc: "I actually understand the ref/object and DAG models now",
		href: "https://www.git-scm.com/",
		title: "git",
	},
	{
		desc: "I actually memorized the most important utilities and their options",
		href: "https://unix.org/",
		title: "zsh/bash/UNIX",
	},
	{
		desc: "the most joyful tool I've ever used",
		href: "https://www.vim.org/",
		title: "Vim",
	},
	{
		desc: "sometimes I just want to write a script and not worry about dependencies",
		href: "https://www.docker.com/",
		title: "Docker",
	},
	{
		desc: "building fast websites very easily",
		href: "https://astro.build",
		title: "Astro",
	},
	{
		desc: "greatest tool I've used for MVPing a business",
		href: "https://www.shopify.com/",
		title: "Shopify",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi!</h1>
		<p class="mb-4">
			I’m some nerd interested in intelligent systems, mechanistic interpretability, economics, and existential risk in my spare time. Yes, for now I do live in the Bay Area.
		</p>
		<p>
			Reach out with comments and questions.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
